<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.bzsy.mapper.LyqTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.bzsy.model.LyqTable">
        <id column="id" property="id" />
        <result column="seq" property="seq" />
        <result column="lyq_group" property="lyqGroup" />
        <result column="lyq_key" property="lyqKey" />
        <result column="lyq_value" property="lyqValue" />
        <result column="lyq_seq" property="lyqSeq" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seq, lyq_group, lyq_key, lyq_value, lyq_seq
    </sql>

    <!--Integer updateToZore(Integer[] ids);-->
    <update id="updateToZore" >
        UPDATE `lyq_table` SET lyq_value = 0
        WHERE lyq_key IN
        <foreach collection="ids"  item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
    <!--Integer updateToAdd(Integer[] ids);-->
    <update id="updateToAdd">
        UPDATE `lyq_table` SET lyq_value = lyq_value + 1
        WHERE lyq_key NOT IN
        <foreach collection="ids"  item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
</mapper>
